*{
    z-index: 1;
}

.base{
    position: absolute;
    top: 5%;
    left:25%;
    width: 50%;
    height: 70vh;
   background: linear-gradient(45deg, rgb(0, 0, 0), rgb(0, 0, 0) 60%, rgb(12, 12, 12));
}
.image{
    position: absolute;
    top: 5%;
    left:10%;
    width: 80%;
    height: 45vh;
    background: linear-gradient(1deg, rgb(0, 0, 0) 0%, rgb(32, 172, 85) 60%, rgb(8, 248, 0));
    

}
.songname{
    position: absolute;
    top: 52vh;
    left:10%;
    width: 70%;
    height: 25vh;
    font-size: 24px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: rgb(235, 235, 235);
}
.artistname{
    position: absolute;
    top: 49vh;
    left:10%;
    font-size: 20px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    width: 70%;
    height: 23vh;
    color: rgb(141, 140, 140);
}
.bar{
    position: absolute;
    top: 45vh;
    left:10%;
    width: 80%;
    height: 0.1%;
    transition: .5s ease;
    cursor: pointer;
    background: linear-gradient(-140deg, rgb(255, 255, 255) 20%, rgb(226, 224, 224) 60%, rgb(185, 182, 182));
}
.like{
    position: absolute;
    top: 82%;
    right:1%;
    width:9vh;
    height: 9vh;
    transition: .5s ease;
    cursor: pointer;
    padding: 1vh;
    /* background: linear-gradient(-140deg, rgb(255, 255, 255) 20%, rgb(226, 224, 224) 60%, rgb(185, 182, 182)); */
}
.like:hover{
opacity: 0.8;

}
.cross{
    position: absolute;
    top: 82%;
    left:1%;
    width:9vh;
    height: 9vh;
    transition: .5s ease;
    transition: .5s ease;
    cursor: pointer;
    padding: 1vh;
    /* background: linear-gradient(-140deg, rgb(255, 255, 255) 20%, rgb(226, 224, 224) 60%, rgb(185, 182, 182)); */
}

.cross:hover{
opacity: 0.8;
}

.play{
    position: absolute;
    top: 82%;
    left:41%;
    width:9vh;
    height:9vh;
    transition: .5s ease;
    transition: .5s ease;
    cursor: pointer;
    padding: 1vh;
    /* background: linear-gradient(-140deg, rgb(255, 255, 255) 20%, rgb(226, 224, 224) 60%, rgb(185, 182, 182)); */
}

.play:hover{
    opacity: 0.8;
}

