.image{
    position: absolute;
    top: 3%;
    left:10%;
    width: 80%;
    height: 45vh;
    background: linear-gradient(1deg, rgb(0, 0, 0) 0%, rgb(32, 172, 85) 60%, rgb(8, 248, 0));
    
 
}

.main {
    position: absolute;
    z-index: 250;
    top: 66vh;
}

.songname{
    position: absolute;
    top: 47vh;
    left:10%;
    height: 6vh;
    max-width: 80%;
    font-size: 4vh;
    font-family: 'Oswald', sans-serif;
    color: #1db954;
    line-height: normal;
    display: inline-block;
    overflow: hidden;
   
}

.artistname{
    position: absolute;
    top: 52vh;
    left:10%;
    height: 5vh;
    max-width: 80%;
    font-size: 3vh;
    font-family: 'Oswald', sans-serif;
    color: rgb(141, 140, 140);
    line-height: normal;
    display: inline-block;
    overflow: hidden;
}

.fulltrack{
    position: relative;
    top: 59vh;
    width: auto;
    margin: 0 auto;
    /* max-height: 5vh; */
    font-size: 3vh;
    font-family: 'Oswald', sans-serif;
    /* width: 70%; */
    /* height: 100%; */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.morebyartist{
    position: relative;
    top: 60vh;
    width: auto;
    margin: 0 auto;
    /* max-height: 5vh; */
    font-size: 2.4vh;
    font-family: 'Oswald', sans-serif;
    /* width: 70%; */
    /* height: 100%; */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.link{
    text-decoration: none;
}

.logo{
    height: 4vh;
    width: auto;
    padding-left: 5px;
}