*{
    margin: 0;
    padding: 0;
    border: 0;
    z-index: 4;
}

.bg{
    position: absolute;
    margin: 0;
    z-index: 50;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;

} 


.Head {
    position: relative;
    top: 5%;
    z-index: 100;
    width: 100%;
    font-size: 5vw;
    font-family: 'Oswald', sans-serif;
    color: #1DB954;
    text-align: center;
    opacity: 1;
}


.desc{
    position: relative;
    display: inline-block;
    /* top: 4vh; */
    text-align: center;
    align-content: center;
    font-size: 3vw;
    color: white;   
    width: 100%;
    padding-bottom: 4%;

}

.desc1{
    position: relative;
    /* display: inline-block; */
    /* top: 4vh; */
    text-align: center;
    align-content: center;
    font-size: 2vw;
    color: white;   
    width: 100%;

}

.source{
    padding-top: 1%;
    position: relative;
    /* display: inline-block; */
    /* top: 4vh; */
    text-align: center;
    align-content: center;
    font-size: 3vh;
    color: white;   
    width: 100%;

}

.logo{
    position: relative;
    top: 2vh;
    transition: .5s ease;
    width: 6%;
    height: 6%;
}

.logo:hover{
    opacity: 0.6;
    }
.logo:active {
    opacity: 1;
    }

.madeby{
    position: relative;
    /* display: inline-block; */
    /* top: 4vh; */
    text-align: center;
    align-content: center;
    font-size: 3vh;
    color: white;   
    width: 100%;
}

.findus{
    position: relative;
    /* display: inline-block; */
    /* top: 4vh; */
    text-align: center;
    
    align-content: center;
    font-size: 3vh;
    color: white;   
    width: 100%;
}

.linkContainer{
    font-size: 30px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 180px;
    padding-right: 180px;
}

 @media (max-width: 1024px),(max-height:768px){
        .Head {
            font-size: 8vw;
            top:15%;
        }
        .desc{
            font-size: 6vw;   
        }
        
        .desc1{
            font-size: 4vw;
        }
        
        .source{
            font-size:5vh;

        }
        
        .logo{
            position: relative;
            top: 6vh;
            transition: .5s ease;
            width: 15%;
            height: 15%;
        }
    }
    
    .linked{
        display:inline-block;
        padding-left:20px;
        color: white;
    }

    .linked a{
        text-decoration: none;
        color: white;
    }


    