.container {
    position: relative;
    top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.track{
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 3.5vh;
    height: 5vh;
    width: 75vw;
    display: flex;
    justify-content: space-between;
    padding: 0.8%;
    margin: 0px;
    background-color: #121212;
    align-items: center;
    border-bottom: 2px solid #1c1c1c;
    transition: .3s ease;
}

.track:hover{
    color: #1db954;
    background-color: #1c1c1c;
    }

.likes {
    display: flex;
    text-align: right;
    align-items: center;
}

.logo{
    align-items: center;
    position: relative;
    padding-right: 0.5vw;
    height: 4vh;
    width: auto;
    transition: transform 0.3s ease-out;
}

.logo:hover{
    transform: translateY(2px);   
}
@media (max-width: 1024px){
    .container {
        top: 10%;
    }
    .track{
        font-size: 2vh;
        height: 6vh;
        width: 80%;
        padding: 0.8%;
    }
    
    /* .track:hover{
        } */
    
    .logo{
        align-items: center;
        position: relative;
        padding-right: 2.5vw;
        height: 2vh;
        width: auto;
    }

}
