*{
    z-index: 1;
}

.base{
    margin: 0 auto;
    position: relative;
    width: 30%;
    height: 90%;
    background: linear-gradient(45deg, rgb(0, 0, 0), rgb(0, 0, 0) 60%, rgb(12, 12, 12));
}

  @media (max-width: 1024px){
    .base{
        margin: 0 auto;
    position: relative;
    width: 100%;
    height: 90%;
       background: linear-gradient(45deg, rgb(0, 0, 0), rgb(0, 0, 0) 60%, rgb(12, 12, 12));
    }
}