.play{
    position: absolute;
    top: 87%;
    width: 9vh;
    height: 9vh;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    cursor: pointer;
    padding: 1vh;
}

.play:hover{
    opacity: 0.6;
}
.play:active {
    opacity: 1;
  }
