*{
  z-index: 0;
  margin: 0;
  padding: 0;
  border: 0;
}


.navbar{
  
  position: relative;
  display: flex;
  width: 100%;
  height: 6vh;
   /* top: 5px; */
  background: rgb(61, 61, 61);
}

.navbar ul {
  
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  text-align: center;
 
}

.navbar ul li {
  display: inline-block;
  /* padding-left: 4vw;
  padding-right: 4vw; */
  /* padding-top: 0.6vh; */
  height: 100%;
  width: 12%;
  
  
}

.navbar ul li a{
  
  text-decoration: none;
  color:#1db954;
  font-size: 3vh;
  font-family: 'Oswald', sans-serif;
  height: 100%;
 
  
}


.navelement {
 
  width: 100%;
  height: 100%;
  display: inline-block;
}

.navElementInactive {
  height: 100%;
  transition: 0.3s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navelement :hover{
  background-color: #4a4a4a;
}

.navElementActive {
  height: 100%;
  background-color: #242424;
  transition: 0.3s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
}


.box2{
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, rgb(0, 0, 0), rgb(15, 15, 15) 60%, rgb(36, 35, 35));
  
}