*{
  z-index: 0;
  margin: 0;
  padding: 0;
  border: 0;
}


.navbar{
  position: relative;
  display: flex;
  width: 100%;
  height: 6vh;
   /* top: 5px; */
  background: rgb(61, 61, 61);
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  text-align: center;
}

.navbar li {
  display: inline-block;
  margin-left: 4vw;
  margin-right: 4vw;
  margin-top: 0.6vh;
}

.navbar li a{
  text-decoration: none;
  color:#1db954;
  font-size: 3vh;
  font-family: 'Oswald', sans-serif;
  transition: .5s ease;
}

.navbar li :hover{
  opacity: 0.6;
  }

.navbar li :active {
opacity: 1;
}


.box2{
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, rgb(0, 0, 0), rgb(15, 15, 15) 60%, rgb(36, 35, 35));
  
}